<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="event">
      <h2 data-cy="eventDetailsHeading"><span>Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Author</span></dt>
        <dd>
          <a [routerLink]="['/admin/user-management', event.createdBy, 'view']">
            {{ event.createdBy }}
          </a>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ event.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <div>{{ event.description }}</div>
        </dd>
        <dt><span>Picture</span></dt>
        <dd>
          <div *ngIf="event.picture">
            <a (click)="openFile(event.picture, event.pictureContentType)">
              <img [src]="'data:' + event.pictureContentType + ';base64,' + event.picture" style="max-width: 100%" alt="event image" />
            </a>
          </div>
        </dd>
        <dt><span>When</span></dt>
        <dd>
          <span>{{ event.when | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ event.type }}</span>
        </dd>
        <dt><span>Frequency</span></dt>
        <dd>
          <span>{{ event.frequency }}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
          <span *ngFor="let category of event.categories; let last = last">
            <a [routerLink]="['/event-category', category?.id, 'view']">{{ category.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Where</span></dt>
        <dd>
          <div style="height: 300px" leaflet [leafletOptions]="mapOptions"></div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [hidden]="!canEditEvent()" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
