/* ==========================================================================
Main page styles
========================================================================== */
.text-greeting,
.message {
  text-align: center;
}

.text-welcome {
  margin: auto;
  text-align: center;
}

.container {
  margin: auto;
}

.hello {
  display: flex;
  margin-bottom: 6rem;
}

.button {
  height: 10vh;
}

.benefits-row > .text {
  margin: auto;
  text-align: left;
  font-size: x-large;
}

.benefits-row > .text:nth-child(2) {
  text-align: left;
}

.benefits-row > div > img {
  height: 30%;
  width: 30%;
}

.benefits-row > div {
  margin: auto;
  text-align: center;
}

.benefits-row {
  margin-bottom: 4rem;
}

.image-welcome-page {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .text-welcome {
    font-size: 2rem;
  }
}
