<div>
  <div class="row hello">
    <img class="image-welcome-page col-sm-4" src="/content/images/home.svg" />
    <h1 class="display-4 text-welcome col-sm-8 text-white">
      Find events, activities or like minded persons near you with the same interest and hobbies as yours.
    </h1>
  </div>

  <hr style="width: 50%" />
  <div class="container">
    <div class="row benefits-row">
      <div class="col-sm-8 text text-white">
        Moving to a new place is the most glorified tropes of our time. It’s causing for peoples to head out into the world, to a new city
        and a new culture, to find themselves.
      </div>
      <div class="col-sm-4 d-none d-md-block">
        <img src="/content/images/crayons.svg" alt="" />
      </div>
    </div>

    <div class="row benefits-row">
      <div class="col-sm-4 d-none d-md-block">
        <img src="/content/images/cutter.svg" alt="" />
      </div>
      <div class="col-sm-8 text text-white">
        Our time is extremely important, and you need to push yourself out of your comfort zone and into experiences that will seem less
        appealing than sitting in your bed eating chocolate. You need to lead an active lifestyle and arrangements and stick to them and
        experience and explore your new city.
      </div>
    </div>

    <div class="row benefits-row">
      <div class="col-sm-8 text text-white">
        Using Сollab will dictate your experience in this new city and could also contribute to self-discovery and new passions.
      </div>
      <div class="col-sm-4 d-none d-md-block">
        <img src="/content/images/paint-2.svg" alt="" />
      </div>
    </div>
  </div>

  <hr style="width: 50%" />

  <div class="message">
    <div class="get-start">
      <p class="lead text-greeting text-primary">
        Find like-minded people with the same interest or hobbies as yours in your city through Collab and trust your gut.
      </p>
      <button class="btn btn-primary col-sm-2 button" (click)="onGetStartedClick()">
        <span>Get Started</span>
      </button>
      <!--        <img class="image-welcome-page" src="/content/images/main_2.png">-->
    </div>
  </div>
</div>
