<div>
  <div id="page-heading" data-cy="EventHeading">
    <div class="d-flex filter-row row">
      <div class="input-group mb-3 col-sm-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="type">Type</label>
        </div>
        <select [(ngModel)]="filterType" class="custom-select" id="type">
          <option [value]="''" selected>All</option>
          <option value="ONLINE">Online</option>
          <option value="OFFLINE">Offline</option>
        </select>
      </div>
      <div class="input-group mb-3 col-sm-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category">Category</label>
        </div>
        <select [(ngModel)]="filterCategoryId" class="custom-select" id="category">
          <option [value]="''" selected>All</option>
          <option *ngFor="let category of categories" [value]="category.id">#{{ category.name }}</option>
        </select>
      </div>
      <div class="input-group mb-3 col-sm-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="date">Date</label>
        </div>
        <input [(ngModel)]="filterDate" type="date" id="date" class="form-control" />
      </div>
      <div class="input-group mb-3 col-sm-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="frequency">Frequency</label>
        </div>
        <select [(ngModel)]="filterFrequency" class="custom-select" id="frequency">
          <option [value]="''" selected>All</option>
          <option value="SINGLE">Single</option>
          <option value="DAILY">Daily</option>
          <option value="WEEKLY">Weekly</option>
          <option value="MONTHLY">Monthly</option>
          <option value="YEARLY">Yearly</option>
        </select>
      </div>
      <button class="btn btn-info col-sm-2" (click)="applyFilter()" [disabled]="isLoading">
        <span>Search</span>
      </button>
      <button
        class="btn btn-primary jh-create-entity col-sm-2"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        [routerLink]="['/event/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create</span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row list-and-map">
    <div class="col-sm-4" id="no-result" *ngIf="displayedEvents?.length === 0">
      <div class="alert alert-warning">
        <span *ngIf="!isLoading">No events found</span>
        <span *ngIf="isLoading">Loading...</span>
      </div>
    </div>
    <div *ngIf="displayedEvents && displayedEvents.length > 0" class="col-sm-4 list">
      <div
        *ngFor="let event of displayedEvents; trackBy: trackId"
        (click)="selectEvent(event); moveMapToEvent(event)"
        [class.selected-card]="selectedEvent?.id === event.id"
        class="card border-info"
        [id]="getElementHtmlCardId(event!)"
      >
        <div class="row">
          <div class="card-image-wrapper col-sm-4" *ngIf="event.picture">
            <img [src]="'data:' + event.pictureContentType + ';base64,' + event.picture" alt="event image" />
          </div>
          <div class="card-image-wrapper col-sm-4" *ngIf="!event.picture">
            <img src="/content/images/event-placeholder.svg" alt="event image" />
          </div>
          <div class="col-sm-8">
            <div class="card-body" style="width: 100%">
              <div class="d-flex justify-content-between">
                <a class="card-title" [routerLink]="['/event', event.id, 'view']">
                  <strong>{{ event.title | slice: 0:30 }} </strong>
                </a>
                <a class="card-text">{{ event.when?.toDate() | date: 'EEEE, MMMM d, HH:mm' }}</a>
              </div>
              <a *ngIf="event.type">{{ event.type }}</a>
              <a *ngIf="event.categories && event.categories.length > 0">{{ pretty(event.categories!) }}</a>
              <a *ngIf="event.frequency">{{ event.frequency }}</a>
              <div class="event-description">{{ event.description || 'No description' }}</div>
              <div class="text-right" *ngIf="event.createdBy">
                Author:
                <a [routerLink]="['/admin/user-management', event.createdBy, 'view']">
                  {{ event.createdBy }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-sm-8 map"
      style="height: 100%"
      leaflet
      [leafletOptions]="mapOptions"
      [leafletLayers]="mapOptions.layers!"
      [leafletCenter]="getCenter(mapOptions)"
      [leafletZoom]="mapOptions.zoom!"
      (leafletMapMove)="onMapMove()"
      (leafletMapReady)="onMapReady($event)"
    ></div>
  </div>
</div>
