<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span>User</span> <strong>{{ user.login }}</strong>
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span>Picture</span></dt>
        <dd>
          <div *ngIf="user.picture">
            <a (click)="openFile(user.picture, user.pictureContentType)">
              <img [src]="'data:' + user.pictureContentType + ';base64,' + user.picture" style="max-width: 100%" alt="user image" />
            </a>
          </div>
        </dd>

        <dt><span>Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
        </dd>

        <dt><span>First Name</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span>Last Name</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span>Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span>About</span></dt>
        <dd>{{ user.about }}</dd>

        <dt><span>Signed Up at</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Profile was updated at</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>
      </dl>

      <button (click)="previousState()" class="btn btn-info"><fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span></button>
    </div>
  </div>
</div>
